<div class="container container-details">


<h1 class="gastronomy-details-title">Gastronomy Details</h1>
<div class="ent-details">

<div class="ent-namePrice">
  <div class="ent-name">

<strong class="details-title">{{gastronomy.name}}</strong>
<br/>
</div>

<div class="ent-price">
<strong>  
<b/>
<i>{{gastronomy.type}}</strong></i>
<br/>
</div>
</div>


<div class="ent-musicType">
      <div class="ent-typeof">
        Type of Food:
      </div>
  <div class="musicType">
<strong> {{ gastronomy.caracteristics.food}}</strong>
</div>
<br/>

<div class="ent-typeof">
       Price:

</div>
<div class="ent-type">
<strong>{{gastronomy.price}}</strong>
<br/>
</div>
</div>
</div>



{{!-- <div class="gastronomy-details">
Name:
<strong class="interestName">{{gastronomy.name}}</strong>

<div class="gastronomy-typeof">
Type of place:
{{gastronomy.type}}

Type of Food:
{{gastronomy.caracteristics.food}}
</div>

</div> --}}

<div class="content-details">
  <div class="div-details">


<img src="{{gastronomy.image}}" class="image-details" />

  </div>
  <div class="div-details">
<div id="map"></div>
  </div>
</div>





<span class="latitudeCenter">{{gastronomy.location.coords.[0]}}</span>
<span class="longitudeCenter">{{gastronomy.location.coords.[1]}}</span>


<h3>Reviews<hr></h3>
<br>
{{#each reviews}}
<div class="review-card">

<strong>{{creator.username}}</strong>
<p>{{comment}}</p>
<span>{{formatDate}}</span>

{{#if ../isAdmin}}
  <a href="/reviews/delete/{{_id}}/{{../gastronomy.id}}">Delete</a>
{{/if}}
</div>
{{/each}}

  <h4>Write a Review</h4>
<form method="POST" action="/reviews/create/{{gastronomy.id}}">
  <textarea name="comment" type="textarea"></textarea>
<input type="submit" value="Send" class="btn btn-danger">
</form>



<a href="/gastronomy/edit/{{id}}">Edit</a>
<a href="/gastronomy/{{id}}/delete">Delete</a>



</div>

 <script src="../../js/main.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapDetails"></script>