<h1 class="art-details">Details</h1>

Name:
{{name}}
<br />

Type:
{{type}}
<br />

Description:
{{description}}
<br />
<img src="{{image}}" />

<a href="/gastronomy/edit/{{id}}">Edit</a>
<a href="/gastronomy/{{id}}/delete">Delete</a>