<h1 class="gastronomy-details">Details</h1>

Name:
<h1 class="interestName">{{gastronomy.name}}</h1>
<br />

Type:
{{gastronomy.type}}
<br>
Type of Food:
{{gastronomy.caracteristics.food}}
<br />



<img src="{{gastronomy.image}}" />

<span class="latitudeCenter">{{gastronomy.location.coords.[0]}}</span>
<span class="longitudeCenter">{{gastronomy.location.coords.[1]}}</span>

<div id="map"></div>

{{#each reviews}}
<h1>{{creator.username}}</h1>
<p>{{comment}}</p>



<span>{{formatDate}}</span>

{{#if ../isAdmin}}
  <a href="/reviews/delete/{{_id}}/{{../gastronomy.id}}">Delete</a>
{{/if}}

{{/each}}

<form method="POST" action="/reviews/create/{{gastronomy.id}}">
  Write a review:
  <input name="comment" type="textarea">
  <input type="submit">
</form>


<a href="/gastronomy/edit/{{id}}">Edit</a>
<a href="/gastronomy/{{id}}/delete">Delete</a>





 <script src="../../js/main.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapDetails"></script>