<h1 class="art-details">Details</h1>


Name:
{{art.name}}
<br>

Type:
{{art.type}}
<br>

Creation Date:
{{art.creationDate}}
<br>

Description:
{{art.description}}
<br>

<a href="/arts/edit/{{art.id}}">Edit</a>
<br>
<a href="/arts/{{art.id}}/delete">Delete</a>