<h1 class="art-details">Details</h1>

Name:
<h1 class="interestName">{{art.name}}</h1>
<br />

Type:
{{art.type}}
<br />

Creation Date:
{{art.creationDate}}
<br />

Description:
{{art.description}}
<br />
<img src="{{art.image}}" />

Location:

<span class="latitudeText">{{art.location.coords.[0]}}</span>
<span class="longitudeText">{{art.location.coords.[1]}}</span>

<div id="map"></div>

{{#if isAdmin}}

  <a href="/arts/edit/{{art.id}}">Edit</a>
  <br />

  <a href="/arts/{{art.id}}/delete">Delete</a>

{{/if}}

{{#if isOwner}}

  <a href="/arts/edit/{{art.id}}">Edit</a>
  <br />

  <a href="/arts/{{art.id}}/delete">Delete</a>

{{/if}}

  <script src="../../js/main.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMap"></script>