<h1>Edit</h1>
<div>

    <form action="/arts/edit/{{editArt.id}}" method="POST" enctype="multipart/form-data">

    <label>
        Name:
        <input type="text" name="name" value="{{editArt.name}}">
    </label>

    <label>
        Description:
        <input type="text" name="description"value="{{editArt.description}}" >
    </label>

    <label>
        creationDate:
        <input type="date" name="date">
    </label>
    
    <label>
        type:
       <select name="type">
                    <option>Monument</option>
                    <option>Museum</option>
                    <option>Theater</option>
            </select>
    </label>

    
   <label>
      Image:
      <input type="file" name="uploadedImage" class="form-control-file" value="{{editArt.image}}" />
      <input type="text" name="image" class="form-control-file" value="{{editArt.image}}" />
    </label>


    <label>
        Owner:
        <input type="text" name="owner">
    </label>

    <label>
        Capacity:
        <input type="text" name="capacity">
    </label>
         Location:
    
      <input type="text" id="address" class="address">
      <button class="submit">enviar</button>
        <br>

    <span class="latitudeCenter">40.4206213320784</span>
    <span class="longitudeCenter">-3.706324171610527</span>
    <div id="map"></div>


    <label class="labelLocation">
      Location:
      <input type="text" name="lat"  class="latitudeText" value="{{editArt.location.coords.[0]}}"/>
      <input type="text" name="lng" class="longitudeText"value="{{editArt.location.coords.[1]}}" />
    </label>

        <label>
        Review:
        <input type="text" name="">
    </label>
        <label>
        Website:
        <input type="text" name="webSite">
    </label>
        <label>
        Opening Time:
        <input type="text" name="openingTime">
    </label>
        <label>
        ClosingTime:
        <input type="text" name="closingTime">
    </label>

        <input type="submit">


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    </form>

</div>

  <script src="../../js/main.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapDetails"></script>