<h1 class="ent-details">Details</h1>

Name:
{{name}}
<br>

Type:
{{type}}
<br>

Music Type:
{{musicType}}
<br>

Price:
{{price}}
<br>

<a href="/ent/all-ent">Back</a>
<a href="/ent/edit/{{id}}">Edit</a>
<a href="/ent/{{id}}/delete">Delete</a>