<h1 class="ent-details">Details</h1>

Name:
{{ent.name}}
<br />

Type:
{{ent.type}}
<br />

Music Type:
{{ent.caracteristics.musicType}}
<br />

Price:
{{ent.price}}
<br />

<img src="{{ent.image}}" />

<a href="/ent/all-ent">Back</a>
<a href="/ent/edit/{{ent.id}}">Edit</a>
<a href="/ent/{{ent.id}}/delete">Delete</a>