<div class="container container-details">


<h1 class="ent-details">Details</h1>

Name:
<strong class="details.title">{{ent.name}}</strong>
<br />
Type of place:
<strong>{{ent.type}}</strong>
<br />

Music Type:
<strong> {{ent.caracteristics.musicType}}</strong>

<br />

Price:
<strong>  
{{ent.price}}</strong>
<br />

<div class="content-details">
  <div class="div-details">

<img src="{{ent.image}}" />

  </div>
  <div class="div-details">
<div id="map"></div>
  </div>
</div>




<span class="latitudeCenter">{{ent.location.coords.[0]}}</span>
<span class="longitudeCenter">{{ent.location.coords.[1]}}</span>



{{#each reviews}}
<div class="review-card">

<strong>{{creator.username}}</strong>

<p>{{comment}}</p>
<span>{{formatDate}}</span>


{{#if ../isAdmin}}
  <a href="/reviews/delete/{{_id}}/{{../ent.id}}">Delete</a>
{{/if}}
</div>
{{/each}}


<form method="POST" action="/reviews/create/{{ent.id}}">
  Write a review:
  <input name="comment" type="textarea">
  <input type="submit">
</form>

<a href="/ent/all-ent">Back</a>
<a href="/ent/edit/{{ent.id}}">Edit</a>
<a href="/ent/{{ent.id}}/delete">Delete</a>
<a href="/reviews/{{ent.id}}/delete">Delete</a>

</div>
<script src="../../js/main.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapDetails"></script>