<div>
  <h1 class="new-art">Edit your place</h1>

  <form action="/ent/edit/{{editEnt.id}}" method="POST" enctype="multipart/form-data">

    <label>
      Name:
      <input type="text" name="name" value="{{editEnt.name}}"/>
    </label>

    <label>
      Type:
      <select name="type">
        <option value="Disco">Disco</option>
        <option value="Pub">Pub</option>
        <option value="Outdoor">Outdoor</option>
      </select>
    </label>
    
    <label>
      Image:
      <input type="file" name="image" class="form-control-file" value="{{editEnt.image}}" />
    </label

    <label>
      Music Type:
      <input type="text" name="musicType" placeholder="Reggaeton" value="{{editEnt.musicType}}"/>
    </label>

    <label>
      Price:
      <select name="price">
        <option value="Economic">Economic</option>
        <option value="Normal">Normal</option>
        <option value="Expensive">Expensive</option>
      </select>
    </label>

    Location:
      <input type="text" id="address" class="address">
      <button class="submit">Send</button>
    <br>
    <span class="latitudeCenter">40.4206213320784</span>
    <span class="longitudeCenter">-3.706324171610527</span>
    <div id="map"></div>
   

      <label class="labelLocation">
        Location:
      <input type="text" name="lat" class="latitudeText" />
      <input type="text" name="lng" class="longitudeText" />
    </label>
  <div id="map"></div>

    <label>
      Review:
      <input type="text" name="" />
    </label>

    <label>
      Website:
      <input type="text" name="webSite" />
    </label>

    <label>
      Opening Time:
      <input type="text" name="openingTime" />
    </label>

    <label>
      ClosingTime:
      <input type="text" name="closingTime" />
    </label>

    <input type="submit" />

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

</div>

  <script src="../../js/main.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapEdit"></script>